<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
      integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title><%= title %> - KoaBlog</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title"><a href="/">KoaBlog</a></h1>
            <p class="subtitle">Blog built with Koa!</p>
          </div>

          <div class="column">
            <div class="has-text-grey-dark has-text-right">
              <% if(locals.user){ %>
              <p>Hi, <%= user.fullName %>. <a href="/auth/logout">Logout</a></p>
              <% } else { %>
              <p><a href="/auth">Login/Register</a></p>
              <% } %>
            </div>
          </div>
        </div>

        <hr />
